body{
    margin:0;
    font-family:Arial;
}

/* HEADER */
header{
    background:black;
    color:white;
    padding:15px;
}

/* CONTENEDOR */
#contenedor{
    display:flex;
    height:60vh;
}

/* MENU */
#menu{
    width:150px;
    padding:10px;
}

/* ESCENA */
#escena{
    position:relative;
    flex:1;
    overflow:hidden;
}

/* AMBIENTE */
#ambiente{
    width:100%;
    height:100%;
    object-fit:cover;
}

/* 🔥 PISO */
#piso{
    position:absolute;

    bottom:0;
    left:0;

    width:100%;
    height:45%;

    background-repeat:repeat;

    background-size:250px;

    opacity:.95;

    transform:perspective(800px) rotateX(60deg);

    transform-origin:bottom;
}

/* PANEL */
#panel{
    width:220px;
    padding:10px;
}

#preview{
    width:100%;
    height:160px;
    object-fit:cover;
}

/* FILTROS */
#filtros{
    padding:10px;
}

#filtros button{
    margin:5px;
    padding:5px 10px;
    cursor:pointer;
}

/* CATALOGO */
#catalogo{
    display:grid;

    grid-template-columns:repeat(auto-fill, minmax(120px,1fr));

    gap:10px;

    padding:10px;
}

/* ITEM */
.item{
    border:1px solid #ccc;
    background:white;
    padding:5px;
}

/* IMAGEN */
.item img{
    width:100%;
    height:100px;
    object-fit:cover;
    cursor:pointer;
}

/* TEXTO */
.item p{
    font-size:12px;
    text-align:center;
}
