body {
  margin: 0;
  font-family: Arial;
  background: #f4f4f4;
}

header {
  text-align: center;
  padding: 10px;
  background: white;
}

#contenedor {
  display: flex;
}

/* MENU */
#menu {
  width: 150px;
  padding: 10px;
}

#menu button {
  width: 100%;
  margin-bottom: 8px;
  padding: 8px;
}

/* ESCENA */
#escena {
  position: relative;
  width: 900px;
  margin: 20px auto;
  overflow: hidden;
}

/* IMAGEN BASE */
#ambiente {
  width: 100%;
  display: block;
}

/* 🔥 PROYECCIÓN REAL DEL PISO */
#piso {
  position: absolute;
  bottom: 0;
  left: 5%;

  width: 90%;
  height: 40%;

  background-repeat: repeat;
  background-size: 220px;

  transform: perspective(700px) rotateX(60deg);
  transform-origin: bottom;

  opacity: 0.95;
}

/* PANEL */
#panel {
  width: 220px;
  padding: 10px;
}

/* FILTROS */
#filtros {
  text-align: center;
  margin: 10px;
}

#filtros button {
  margin: 5px;
  padding: 8px 12px;
}

/* CATALOGO */
#catalogo {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  padding: 15px;
  background: white;
}

.item {
  min-width: 120px;
  background: white;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.item:hover {
  transform: scale(1.05);
}

.item img {
  width: 100%;
  height: 100px;
  object-fit: cover;
}
